/* CSS styles */
/* Style for the sidebar */
.sidebar {
    width: 250px;
    background-color: black;
    color: white;
    position: fixed;
    height: 100vh;
}

.sidebar .earnit_logo {
    margin-left: 60px;
    margin-top: 10px;
    width: 80px;
    /*background-color: white;*/
}

.sidebar .navbar_sidebar {
    list-style-type: none;
    margin-top: 150px;
    font-size: 20px;

}

.sidebar .navbar_sidebar li {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid white;
    width: 150px;
    height: 20px;
    margin-bottom: 5px;
    margin-left: -20px;
}

.sidebar .navbar_sidebar li a {
    color: white;
    text-decoration: none;

}


/* Style for the content section */
.content_wrapper {
    margin-left: 250px;

}

.content_wrapper .navbar {
    justify-content: space-between;
    align-items: center;
}

.content_wrapper .header {
    width: 1000px;
    height: 200px;
}

.content_wrapper .header {
    font-size: 60px;
    color: white;
}

.content_wrapper .header .heading{
    margin-left: 100px;
    padding-top: 60px;
}

.content_wrapper .display_list {
    display: list-item;
    align-items: center;
    list-style-type: none;
}

.content_wrapper .display_list li {
    margin-right: 10px;
}

.content_wrapper .display_list .dropdown-menu {
    min-width: 200px;
}

.content_wrapper .display_list .dropdown-menu form {
    margin: 20px;
}

.content_wrapper .display_list .dropdown-menu form input[type="search"] {
    width: 450px;
    height: 40px;
    padding: 5px;
    margin-top: 16px;
    margin-left: 40px;
    text-align: left;
}
.content_wrapper .display_list .dropdown-menu .input-group .search_button {
    width: 90px;
    height: 40px;
    padding: 5px;
    text-align: center;
}

/* Style for the list of jobs */
.content_wrapper .display_list .job {
    display: flex;
    align-items: center;
    width: 550px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: darkgray;
    margin-left: 40px;

}

.content_wrapper .display_list .logo {
    width: 50px;
    margin-left: 10px;
    margin-right: 20px;
}

.content_wrapper .display_list .detail_display {
    flex-grow: 1;
}

.content_wrapper .display_list .detail_display .company_name {
    font-weight: bold;
    margin-right: 10px;
}

.content_wrapper .display_list .short_detail {
    margin-bottom: 10px;
}

.content_wrapper .display_list .view-details {
    cursor: pointer;
    text-decoration: underline;
}
.content_wrapper .display_list .bookmarks {
    border: #dddddd;
    background-color: darkgray;
    margin-right: 15px;
}

/* Style for the user dropdown */
.content_wrapper .dropbtn {
    color: black;
    cursor: pointer;
}

.content_wrapper .dropdown {
    position: absolute;
    top: 10px;
    right: 10px;

}

.content_wrapper .dropdown-content {
    display: none;
    z-index: 1;
}

.content_wrapper .dropdown-content .a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.content_wrapper .dropdown:hover .dropdown-content {
    display: block;
}



/* Style for the footer */
footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}


/* For the popup */
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.wrapper {               /* for the popup*/
    margin: 70px auto;
    padding: 30px 50px;
    background: #e7e7e7;
    border-radius: 7px;
    width: 50%;
    position: relative;
    transition: all 1s ease-in-out;
}

.wrapper h2 { /* name */
    color: #333;
    text-align: center;
}
.wrapper .close { /* close button */
    position: absolute;
    top: 11px;
    right: 20px;
    transition: all 200ms;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.wrapper .close:hover {  /* close button when hover */
    color: #06D85F;
}

.content > section:nth-of-type(1) { /* job description*/
    text-transform: uppercase;
    font-size: 20px;
    color:red;
    padding-bottom: 10px;
}


.content > section:nth-of-type(2) {
    height:200px;
    text-align: left;
    overflow-y: scroll;
    color:blue;
}
