
/* For the popup */
/*
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}

.overlay:target {
	visibility: visible;
	opacity: 1;
}

.wrapper {              
	margin: 70px auto;
	padding: 30px 50px;
	background: #e7e7e7;
	border-radius: 7px;
	width: 50%;
	position: relative;
	transition: all 1s ease-in-out;
}

.wrapper h2 { 
	color: #333;
	text-align: center;
}
.wrapper .close { 
	position: absolute;
	top: 11px;
	right: 20px;
	transition: all 200ms;
	font-size: 40px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}
.wrapper .close:hover {  
	color: #06D85F;
}

.content > section:nth-of-type(1) { 
	text-transform: uppercase;
	font-size: 20px;
	color:red;
	padding-bottom: 10px;
}


.content > section:nth-of-type(2) {
	height:200px;
	text-align: left;
	overflow-y: scroll;
	color:blue;
}
*/

/* The Modal (background) */

.popup {
	display: none;
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
	animation-name: fadeIn;
	animation-duration: 0.4s
}

.popup.animate-out {
	animation-name: fadeOut;
}

.popup-content {
	margin:50px;
	background-color: #fefefe;
	width: 100%;
	animation-name: zoomIn;
	animation-duration: 0.4s
}

.popup.animate-out .popup-content {
	animation-name: zoomOut;
}

.close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.popup-header {
	padding: 2px 16px;
	background-color: #1E282D;
	color: white;
}

.popup-body {
	color: black;
	padding: 16px 16px;
}

@keyframes zoomIn {
	from {
		transform: scale(0.5);
	}
	to {
		transform: scale(1);
	}
}

@keyframes zoomOut {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(.5);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
